@import "tailwindcss";
@import 'tailwind-animations';
@custom-variant dark (&:where(.dark, .dark *));

@utility gradient-orange{
    background-image: radial-gradient(125% 125% at 50% 10%, #ffffff 40%, #f59e0b 100%);
    background-size: 100% 100%;
}

@utility crimsom-orange{
    background: radial-gradient(125% 125% at 50% 10%, #01030D 40%, #2b0707 100%);
}