---
import SectionContainer from "../SectionContainer.astro"

import { basics } from "@cv"
const { summary } = basics
---

<SectionContainer title="Sobre mí">
  <p>
    {summary}
  </p>
</SectionContainer>