---
import "@/styles/global.css";
import "@fontsource-variable/onest";

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{ title }</title>
	</head>
	<body>
		<main class="max-w-4xl mx-auto px-6 py-12">
			<slot />
		</main>
	</body>
</html>

<style>
  html {
    font-family: 'Onest', sans-serif;
  }
</style>

